!!!
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
-# Consider adding an manifest.appcache: h5bp.com/d/Offline
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }/
    
    -#
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/b/378
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    
    %title RadioOhm Live Messages
    %meta{ :name => "description", :content => "" }/
    %meta{ :name => "author", :content => "" }/
    
    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
    
    -# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
    
    -# CSS: implied media="all"
    -# CSS concatenated and minified via ant build script
    %link{ :rel => "stylesheet", :href => "css/normalize.css"}/
    %link{ :rel => "stylesheet", :href => "css/screen.css"}/
    
    -# 
      All JavaScript at the bottom, except for Modernizr / Respond.
      Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
      For optimal performance, use a custom Modernizr build: www.modernizr.com/download/
    %script{ :src => "js/vendor/modernizr-2.6.1.min.js" }
    
  %body
    #container{ :class => "<?php echo $asd ?>"}
      - $asd = "test"
      = $asd
      %header#header
        .navbar.navbar-fixed-top.navbar-inverse
          .navbar-inner
            -# Responsive for make .nav a collapsible element
            %a.btn.btn-navbar{ 'data-toggle' => "collapse", 'data-target' => ".nav-collapse" }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            %a.brand{ :href => "#"}
              RadioOhm.it
            
            .nav-collapse
              %ul.nav
                %li
                  %a{ :href => '#', 'data-action' => 'to-top', 'data-toggle' => "tooltip", :title => "Torna a inizio pagina"}
                    %i.icon-circle-arrow-up.icon-white
                %li
                  %a{ :href => '#', 'data-action' => 'load-new-sms', 'data-toggle' => "tooltip", :title => "Verifica la presenza di nuovi sms" }
                    %i.icon-refresh.icon-white
                %li
                  %a{ :href => '#', 'data-action' => 'read-all', 'data-toggle' => "tooltip", :title => "Segna come letti tutti i messaggi" }
                    %i.icon-envelope.icon-white
                %li.dropdown
                  %a.dropdown-toggle{ 'data-toggle' => "dropdown", :href => "#", 'data-action' => 'automatic-sms-refresh' }
                    Aggiornameto automatico
                  %ul.dropdown-menu{ :role => "menu",  'aria-labelledby' => "dLabel" }
                    %li
                      %a{ :href => '#', 'data-action' => 'enable-automatic-sms-refresh', 'data-toggle' => "popover", :title => "", 'data-content' => "Se abilitato, ogni 30 secondi il programma caricherà i nuovi sms, se ve ne sono" }
                        Abilitato
                        %i.icon-ok
                    %li
                      %a{ :href => '#', 'data-action' => 'disable-automatic-sms-refresh', 'data-toggle' => "popover", :title => "", 'data-content' => "Il programma non cercherà nuovi sms. Puoi aggiornare manualmente con il pulsante nella barra superiore!" }
                        Disabilitato

            %p.navbar-text.countdown-container
              Prossimo aggiornamento automatico
              %span#countdown mai
      #main{ :role => 'main' }
        %section.flash
        %section.help
          %p
            Il numero di telefono di RadioOhm &egrave;
            %b 348 545 4218
          %p
            L'hashtag da utilizzare su twitter &egrave;
            %b #radioohmlive
        %table.table.table-striped.table-condensed.table-bordered.table-hover
          %thead
            %th Origine
            %th Mittente
            %th Messaggio
            %th Ora
          %tbody
          %tfoot
            %th Origine
            %th Mittente
            %th Messaggio
            %th Ora
      %footer#footer
    -# end of #container
    
    -# Javascript at the bottom for fast page loading
    
    -# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" }
    %script
      window.jQuery || document.write("<script src='js/vendor/jquery-1.8.0.min.js'>\x3C/script>")
    
    -# scripts concatenated and minified via ant build script
    %script{ :src => "js/vendor/bootstrap.js" }
    %script{ :src => "js/plugins.js" }
    
    %script{ :src => "js/application.js" }
    -# end scripts
    
    -# 
      Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
      chromium.org/developers/how-tos/chrome-frame-getting-started
    
    <!--[if lt IE 7]>
    %script{ :src => "//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js" }
    %script
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})});
    <![endif]-->
