@import "compass/utilities/text/replacement"
@import bootstrap
@import responsive

#container
  @extend .container

  #header
    @extend .row
    position: relative
    z-index: 100
    .navbar
      .navbar-inner
        padding: 0 20px
        .nav
          .dropdown-menu
            [class*="icon"]
              @extend .pull-right
        .countdown-container
          @extend .pull-right
          #countdown
            font-weight: bold

  #main
    // @extend .row
    padding-top: 60px
    .flash
      @extend .span12
      display: none
    .help
      text-align: center
    .table
      @extend .span12
      *[data-read="0"]
        font-weight: bold
      .read
        font-weight: normal
      .source-sms
        display: block
        margin: 0 auto
        +replace-text("sms.png", 0, 0)
        +size(20px, 12px)
      .source-twitter
        display: block
        margin: 0 auto
        +replace-text("twitter.png", 0, 0)
        +size(24px, 24px)

